/* body {
    background-image: url('D:\Umar\SpringBoot_Project\Product_Management_UI\product_ui\bkgd.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: #FF0000;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    background-color: rgba(34, 34, 34, 0.8);
    color: #FFF;
  } */

  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .home-container {
    background-image: url('D:/Umar/SpringBoot_Project/Product_Management_UI/product_ui/bkgd.jpg'); /* Update the path accordingly */
    background-size: cover;
    background-repeat: no-repeat;
    color: #FF0000; /* Text color is set to red */
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    background-color: rgba(34, 34, 34, 0.8); /* Semi-transparent dark background for better readability */
    color: #FFF;
  }
  
  .card-header {
    font-size: 1.5rem;
  }
  
  .card-body {
    color: #FFF;
  }
  
  .table {
    color: #FFF;
  }
  
  .btn-primary {
    background-color: #007BFF;
    color: #FFF;
  }
  
  .btn-danger {
    background-color: #DC3545;
    color: #FFF;
  }